[submodule "job-platform-api"]
	path = job-platform-api
	url = https://github.com/Raghavendra-Devale/job-platform-api.git
[submodule "job-platform-ui"]
	path = job-platform-ui
	url = https://github.com/Raghavendra-Devale/job-platform-ui.git
